html {
 background-color: #CFCFC6;
 font-family: "Ubuntu", "DejaVu Sans", "Bitstream Vera Sans", "Verdana",
              sans-serif;
 font-size: 0.8em;
}
body {
 height: 100%;
 margin: 0;
 position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
#screen {
 position: absolute; top: 0; right: 0; bottom: 0; left: 0;
 margin: auto;
 background-color: #BDBDB5;
}
#about {
 position: absolute; top: 0; right: 0;
}
#about a {
 line-height: 1.375em;
 padding: .5em .5em .25em;
 text-decoration: none;
 background-color: #BDBDB5;
 color: #40403D;
}
#about a + a {
 margin-left: .125em;
}
