:root {
 --background-main: #cfcfc6;
 --background-screen: #bdbdb5;
 --color-screen: #30302d;
 --background-aside: var(--background-screen);
 --color-aside: var(--color-screen);
}
html {
 background: var(--background-main);
 font: 19px "Roboto", "Helvetica", "Arial", sans-serif;
}
body, main {
 position: absolute; top: 0; right: 0; bottom: 0; left: 0;
 margin: 0;
}
#screen {
 position: absolute; top: 0; right: 0; bottom: 0; left: 0;
 margin: auto;
 background: var(--background-screen);
 color: var(--color-screen);
}
aside {
 position: absolute; top: 0; right: 0;
}
aside a {
 line-height: 1.375em;
 padding: 0.5em 0.5em 0.25em;
 text-decoration: none;
 background: var(--background-aside);
 color: var(--color-aside);
}
aside a + a {
 margin-left: 0.125em;
}
